<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Book Review</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>

  <body class="bg-gray-100 flex flex-col h-screen">
    <!-- Navigation bar -->
    <nav class="bg-blue-500 p-4 text-white flex justify-between items-center">
      <a href="/" class="hover:underline">Back to Book Reviews</a>
      <h1 class="text-2xl font-bold">Add Book Review</h1>
    </nav>

    <!-- Main content area -->
    <div class="container mx-auto flex-1 my-8">
      <form
        action="/book/add"
        method="POST"
        class="max-w-md mx-auto bg-white p-6 rounded-lg shadow-md"
      >
        <div class="mb-4">
          <label
            for="title"
            class="block text-gray-600 text-sm font-semibold mb-2"
            >Title</label
          >
          <input
            type="text"
            id="title"
            name="title"
            class="w-full border rounded-md py-2 px-3"
          />
        </div>
        <div class="mb-4">
          <label
            for="author"
            class="block text-gray-600 text-sm font-semibold mb-2"
            >Author</label
          >
          <input
            type="text"
            id="author"
            name="author"
            class="w-full border rounded-md py-2 px-3"
          />
        </div>
        <div class="mb-4">
          <label
            for="imageUrl"
            class="block text-gray-600 text-sm font-semibold mb-2"
            >Image URL</label
          >
          <input
            type="text"
            id="imageUrl"
            name="imageUrl"
            class="w-full border rounded-md py-2 px-3"
          />
        </div>
        <div class="mb-4">
          <label
            for="description"
            class="block text-gray-600 text-sm font-semibold mb-2"
            >Book Description</label
          >

          <textarea
            id="description"
            name="description"
            rows="4"
            class="w-full border rounded-md py-2 px-3"
          ></textarea>
        </div>
        <button
          type="submit"
          class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-700"
        >
          Submit Review
        </button>
      </form>
    </div>

    <!-- Footer -->
    <footer class="bg-gray-800 text-white text-center py-2">
      <p>&copy; 2023 Book Reviews. All rights reserved.</p>
    </footer>
  </body>
</html>
